.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.forgot-box {
  background-color: #e5f6ea;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 340px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #006400;
  margin-bottom: 20px;
}

.forgot-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: none;
  border-bottom: 2px solid #006400;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.forgot-button {
  width: 100%;
  padding: 12px;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.forgot-button:hover {
  background-color: #004d00;
}

.back-login {
  text-align: center;
  margin-top: 12px;
  font-size: 13px;
}

.link {
  color: #006400;
  font-weight: bold;
  text-decoration: none;
}
