.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: #006400; /* dark green */
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 20px;
}

.notfound-container h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.notfound-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.back-home-btn {
  background: #006400;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.back-home-btn:hover {
  background: #004d00;
}
